label, input, textarea
{
    display : block;
}

label, form > input, form > textarea
{
    margin-top : 10px;
}

body 
{
    font-family: 'Roboto', sans-serif;
}

#password 
{
    border : solid 1px black;
    padding : 10px;
    font-family: 'Roboto Mono', monospace;
}